* {
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 195, 206);
    gap: 30px;
}

.title-tablero {
    margin-top: 30px;
    color: white;
    background-color: rgb(2, 24, 91);
    padding: 20px 70px;
    border-radius: 100px;

}

.tablero {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 180px);
    grid-template-rows: repeat(8, 180px);

    border: 1px solid black;
}

.tablero2 {
    position: absolute;
    margin-top: 138px;

    display: grid;
    grid-template-columns: repeat(8, 180px);
    grid-template-rows: repeat(8, 180px);
    border: 2px solid rgb(7, 5, 28);
}

.casilla {
    width: 100%;
    height: 100%;
    background-color: white;
}

.clara {
    background-color: white;
}

.oscura {
    background-color: rgb(7, 5, 28);
}

.peon {
    grid-column: 3;
    grid-row: 4;
}

.peon2 {
    grid-column: 4;
    grid-row: 4;
}

.peon3 {
    grid-column: 2;
    grid-row: 2;
}

.peon4 {
    grid-column: 4;
    grid-row: 2;
}

.pieza {
    width: 180px;
    height: 180px;

    cursor: pointer;
    transition: 0.5s ease;
}

.pieza:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 2px 3px gray);
}
.torre {
    grid-column: 1;
    grid-row: 8;
}
.torre:active{
    grid-column: 3;
}
.torre2 {
    grid-column: 8;
    grid-row: 8;

}
.torre2:active{
    
    grid-column: 8;
    grid-row: 6;
}
.caballo2{
    grid-column: 1;
    grid-row: 1;
}
.caballo2:active{
    grid-row: 2;
    grid-column: 3;
}
.caballo{
    grid-column: 2;
    grid-row: 5;
}
.caballo:active{
    grid-row: 3;
    grid-column: 3;
}
.rey{
    grid-column: 7;
    grid-row: 2;
}